shared/node_modules
api/node_modules
bot/node_modules
frontend/node_modules
node_modules
dist
shared/dist
api/dist
bot/dist
frontend/dist
.env
.env.development
.env.production
.env.test
.env.test.development
.env.test.production